<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ase.alexandra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ro.ase.alexandra.AfisareFirebase"></activity>
        <activity android:name=".DateConverter" />
        <activity android:name="ro.ase.alexandra.LicitatiiDao" />
        <activity android:name="ro.ase.alexandra.LicitatiiDB" />
        <activity android:name="ro.ase.alexandra.SettingsActivity" />
        <activity android:name="ro.ase.alexandra.JSONActivity" />
        <activity android:name="ro.ase.alexandra.InstructiuniFolosireAplicatieActivity" />
        <activity android:name="ro.ase.alexandra.Activitate_adaugare_review" />
        <activity android:name="ro.ase.alexandra.ArticoleLicitate" />
        <activity android:name="ro.ase.alexandra.Homepage">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="ro.ase.alexandra.Activitate_adaugare_licitatie" />
        <activity android:name="ro.ase.alexandra.Activitate_lista_licitatii"/>
    </application>

</manifest>